<article class="movie-card">
  <div class="poster" appLazyLoadTrigger (reached)="requestImage()">
    @if (movie().streamIcon && shouldLoadImage() && !hasImageError()) {
      <img [src]="movie().streamIcon" [alt]="movie().name" loading="lazy" (error)="markImageAsFailed()" />
    } @else if (!movie().streamIcon || hasImageError()) {
      <div class="poster-fallback text-center !text-[10px]" aria-hidden="true">{{ movie().name }}</div>
    } @else {
      <div class="poster-placeholder" aria-hidden="true"></div>
    }
  </div>
</article>
